

.set-buttons {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 20px;
}

.set-buttons Button {
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
}