.clean-navbar-component {
   display: flex;
   width: 100vw;
   height: 80px;
   background-color: #003466;
   align-items: center;
}

.clean-logo-div {
   display: flex;
   margin-left: 10px;
   margin-top:4px;
}

.clean-logo-div img {
   width: 115px;
   padding: 5px;
}

.clean-right-side-div {
   display: flex;
   align-items: center;
   margin: 0 0 0 auto;
}

.clean-sign-out-div {
   margin: -5px 15px 0 15px;
   color: white;
   font-size: 1.4em;
}

.clean-sign-out-div:hover {
   color: gray;
   cursor: pointer;
}

@media screen and (max-width: 700px) {
   .clean-logo-div img {
      width: 80px;
      padding: 0 0 0 0;
   }

   .clean-sign-out-div {
      margin: 0 0 0 5px;
      font-size: 1.15em;
   }
}
