.navbar-component {
   display: flex;
   width: 100vw;
   height: 80px;
   background-color: #003466;
   align-items: center;
}

.logo-div {
   display: flex;
   margin-left: 10px;
}

.logo-div img {
   width: 115px;
   padding: 5px;
}

.search-div {
   display: flex;
   margin: 0 0 0 20px;
   width: 400px;
}

.map-icon-div {
   display: flex;
   width: 30px;
   margin: 0 0 0 20px;
}

.map-icon-div img {
   width: 28px;
}

.map-icon-div img:hover {
   color: grey;
   cursor: pointer;
}

.right-side-div {
   display: flex;
   align-items: center;
   margin: 0 0 0 auto;
}

.settings-icon-div {
   margin: 0 0 0 20px;
   color: white;
   font-size: 1.4em;
}

.settings-icon-div img {
   width: 35px;
}

.admin-icon-div img {
   width: 35px;
}

.sign-out-div {
   margin: 0 20px 0 15px;
   color: white;
   font-size: 1.4em;
}

.sign-out-div:hover {
   color: gray;
   cursor: pointer;
}

.map-div {
   width: 85vw;
   max-width: 2000px;
   margin: 0 auto;
}

@media screen and (max-width: 750px) {
   .logo-div img {
      width: 75px;
   }

   .search-div {
      margin-left: 10px;
   }

   .map-icon-div img {
      width: 25px;
   }

   .admin-icon-div img {
      width: 35px;
      margin-left: 15px;
   }

   .sign-out-div {
      margin-right: 10px;
      font-size: 1.15em;
   }
}
