@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

.navbar-component {
   display: flex;
   width: 100vw;
   height: 80px;
   background-color: #003466;
   font-family: "Open Sans", sans-serif;
   vertical-align: middle;
}

.welcome-div {
   display: flex;
   width: 200px;
   padding: 5px;
   color: white;
   font-size: 1.4em;
   margin-top: 20px;
}

.image-div {
   display: flex;
   width: 125px;
   padding: 5px;
}

.logo {
   width: 125px;
   padding: 5px;
}

.search-div {
   display: flex;
   margin-top: 20px;
   margin-left: 40px;
   width: 350px;
   height: 30px;
}

.mapIcon-div {
   display: flex;
   width: 55px;
}

.mapIcon-div:hover {
   color: grey;
}

.sign-out {
   display: flex;
   margin-top: 28px;
   margin-left: auto;
   margin-right: 20px;
   height: 40px;
   color: white;
   font-size: 1.25em;
}

.sign-out:hover {
   color: grey;
}

.map-div {
   width: 85vw;
   max-width: 2000px;
   margin: 0 auto;
}

.adminIcon-div {
   display: flex;
   margin-top: 20px;
   margin-left: auto;
}

.adminIcon {
   width: 35px;
}

@media screen and (max-width: 600px) {
   .image-div {
      width: 75px;
   }

   .logo {
      width: 75px;
   }

   .search-div {
      margin-left: 15px;
   }

   .mapIcon-div {
      width: 8em;
   }

   .sign-out {
      margin-top: 20px;
      margin-right: 10px;
   }
}
