
.search-div {
    margin: 0 0 0 15px;
    width: 400px;
}

.ui.search.selection.dropdown > input.search {
    margin: -3px 0 0 0;
}

@media (max-width: 750px) {
    .search-div {
       width: 175px;
    }
 }