.CountCard {
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 90vw;
    height: 250px;
    margin: 0 auto;
  }

  .text-container {
    padding: 20px;
    font-size: 1.5em;
  }

  .num-container {
    margin-top: 80px;
    font-size: 2.5em;
  }