.dashboard-container {
   text-align: center;
   font-family: "Open Sans", sans-serif;
}

.dashboard-row {
   width: 90vw;
   margin: 50px auto 50px auto;
   max-width: 2000px;
   display: flex;
}

.chart-container {
   width: 75vw;
}

.chart-div {
   border-radius: 10px;
   box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
   .chart-container {
      display: none;
   }

   .room-list-container {
      width: 75vw;
      min-width: 300px;
   }
}
