

.set-buttons {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 50px;
    margin-top: 5px;
}

.set-buttons Button {
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
}

.plot-graph {
    width: 100%;
    height: 100%;
}