.room-list {
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    margin-left: 75px;
    margin-top: 20px;
  }

  .rooms {
    padding: 10px;
    font-size: 1.5em;
  }