
.room-list {
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 400px;
    height: 800px;
    margin-left: 50px;
  }

  ul {
    list-style-type: none;
    padding: 5px;
  }

  ul li {
    padding: 10px;
    font-size: 1.5em;
    display: block;
    border-bottom: 1px solid #ddd;
  }

  ul li:hover {
    color: grey;
  }

  div > div {
    vertical-align: top;
  }