
.role-creation-component {
    text-align: center;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 500px;
    padding-top: 20px;
    font-family: "Open Sans", sans-serif;
    height: 325px;
 }
 
 .role-creation-component p {
    font-size: 2.75em;
    margin-bottom: 20px;
 }
 
 input[type="text"] {
    width: 90%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
 }

 input[type=button], input[type=submit], input[type=reset]  {
   background-color: #003466;
   border: none;
   color: white;
   padding: 15px 80px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   text-transform: uppercase;
   font-size: 13px;
   font-weight: 600;
   -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
   box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
   -webkit-border-radius: 5px 5px 5px 5px;
   border-radius: 5px 5px 5px 5px;
   margin: 20px 20px 20px 20px;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   font-family: 'Open Sans', sans-serif;
   cursor: pointer;
 }
 
 input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
   background-color: #004f99;
 }
 
 input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
   -moz-transform: scale(0.95);
   -webkit-transform: scale(0.95);
   -o-transform: scale(0.95);
   -ms-transform: scale(0.95);
   transform: scale(0.95);
 }

 .checkbox-div-creation {
     margin-top: 10px;
 }
 
 @media screen and (max-width: 700px) {
    .role-creation-component {
       width: 375px;
       margin: 25px auto 25px auto;
    }
 }