
.role-list-option {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   border-bottom: 2px solid rgba(236, 236, 236, 1);
   margin-top: 5px;
   margin-bottom: 5px;
}

.role-info {
   width: 45%;
   height: 100%;
   justify-content: center;
   font-family: 'Open Sans', sans-serif;
}

.role-name {
   height: 65px;
   border-right: 2px solid rgba(236, 236, 236, 1);
   font-size: 1.25em;
   display: flex;
   justify-content: center;
   align-items: center;
}

.checkbox-div {
   padding-left: 15px;
   width: 30%;
}

.role-delete {
   display: flex;
   width: 20%;
   height: 65px;
   border-left: 2px solid rgba(236, 236, 236, 1);
   justify-content: center;
   align-items: center;
}

.alert-dialog-title {
   color: #003466;
}

.MuiIconButton-colorPrimary:hover {
   background-color: rgba(255, 255, 255, 255);
}

.MuiCheckbox-colorPrimary.Mui-checked:hover {
   background-color: rgba(255, 255, 255, 255);
}

