
.change-password-component {
  text-align: center;
  width: 800px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 25px;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: auto;
  padding: 20px;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}


/* STRUCTURE */


.change-password-component p {
  font-size: 2.75em;
}


/* FORM TYPOGRAPHY*/

.reset-text {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 2.25em;
}

.return-link {
  font-size: 1.25em;
}

input[type=button], input[type=submit], input[type=reset]  {
  background-color: #003466;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 20px 20px 20px 20px;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #004f99;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

/* password */
input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 600px;
    border: 2px solid #f6f6f6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    font-family: "Open Sans", sans-serif;
  }
  
  input[type=password]:focus {
    background-color: #fff;
    border-bottom: 2px solid gold;
  }
  
  input[type=password]:placeholder {
    color: #cccccc;
  }

/* OTHERS */

*:focus {
    outline: none;
} 

#icon {
  margin-top: 10px;
  margin-bottom: 5px;
  width:300px;
}

* {
  box-sizing: border-box;
}


@media screen and (max-width: 700px) {
  .change-password-component {
    width: 375px;
    margin: 25px auto 25px auto;
  }

  input[type=email] {
    width: 300px;
  }

  input[type=auth-code] {
    width: 300px;
  }

  input[type=password] {
    width: 300px;
  }
}
