.settings-row{
   width: 90vw;
   margin: 75px auto 75px auto;
   max-width: 1200px;
   display: flex;
   justify-content: center;
}

@media (max-width: 1200px) {

   .settings-row{
      flex-wrap: wrap;
      width: 95vw;
      margin: 15px auto 0 auto;
   }
}
